.BadgesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-bottom: 20px;
}

@media screen and (max-width: 425px) {
    .BadgesList {
        padding: 5px 0;
        margin-bottom: 5px;
    }
}