.PaginationLight {
    display: flex;
    margin-top: 20px;
}


.PaginationLight button {
    color: #030344;
    background-color: rgba(4, 169, 169, 0.2);
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #310202;
    border-radius: 10px;
    transition: all ease 300ms;
}


.PaginationLight button:hover {
    background-color: #1ab5ee;
    color: #ffffff;
    cursor: pointer;
    box-shadow: rgb(4, 4, 79) 2px 2px 10px;
}

.PaginationLight button:not(:first-child) {
    margin-left: 10px;
}

.PaginationDark {
    display: flex;
    margin-top: 20px;
}

.PaginationDark button {
    background-color: rgba(4, 169, 169, 0.2);
    color: #ee5316;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #690404;
    border-radius: 10px;
    transition: all ease 300ms;
}


.PaginationDark button:hover {
    background-color: #7e0404;
    color: #ffcc00;
    cursor: pointer;
    box-shadow: #ffcc00 2px 2px 10px;
}


.PaginationDark button:not(:first-child) {
    margin-left: 10px;
}

/***********************************************Media*****************************************/

@media screen and (max-width: 430px) {
    .PaginationLight {
        margin-top: 10px;
    }

    .PaginationDark {
        margin-top: 10px;
    }

    .PaginationLight button {
        margin-bottom: 5px;
        padding: 0 5px;
        transition: all ease 300ms;
        font-size: 12px;
    }

    .PaginationLight button:not(:first-child) {
        margin-left: 5px;
    }

    .PaginationDark button {
        margin-bottom: 5px;
        padding: 0 5px;
        transition: all ease 300ms;
        font-size: 12px;
    }

    .PaginationDark button:not(:first-child) {
        margin-left: 5px;
    }
}
